* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-size: 100% 100%;
    background-position: 0 0;
    background-image: radial-gradient(30% 11% at 7% -2%, rgba(255, 203, 203, 0.897) 1%, #ffffff00 99%);
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1900px;
    max-width: 2560px;
    width: 100%;
    margin: 0 auto;
    height: 113px;
    padding: 32px 165px;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    width: 142px;
    height: 40px;
    opacity: 1;
}

nav a {
    text-decoration: none;
    color: #19182580;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
}

nav a:nth-child(2) {
    color: #000;
}

.nav-buttons {
    gap: 10px;
    flex: 0 1 auto;
}

.nav-buttons button {
    padding: 16px 32px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    background-color: #ffffff;
    width: 115px;
    height: 49px;
}

.nav-buttons button:nth-child(2) {
    border-radius: 100px;
    border: none;
    color: #ffffff;
    background-color: #5D50C6;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    height: 913px;
    margin: 0 auto;
    padding: 32px 165px;
    box-sizing: border-box;
}

.intro {
    width: 100%;
    max-width: 1902px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-left {
    height: 548px;
    width: 100;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-right {
    height: 750px;
    width: 100%;
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rightimage {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
}

.explore {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 72px;
    left: 0%;
    top: -25%;
    padding: 16px 32px;
    border-radius: 100px;
    opacity: 0px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 34px 75px 0px #00000012;
}

.explore h1 {
    color: #F85E9F;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
    border: none;
    background-color: #fff;
}

.intro-text {
    width: 100%;
    height: 249px;
}

.intro-text span {
    color: #f35e76;
}

.intro-text h1 {
    font-family: sans-serif;
    font-size: 69px;
    font-weight: 700;
    line-height: 82.8px;
    text-align: left;
    width: 450px;
    height: 249px;
}

.intro-para {
    width: 80%;
    margin-left: -20%;
    margin-top: 5%;
}

.intro-para p {
    color: #19182580;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
}

.actions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 338px;
    height: 56px;
    opacity: 1;
    bottom: 0%;
    left: 0%;
}

.actions button:first-child {
    font-size: 14px;
    font-weight: 700;
    width: 141px;
    height: 56px;
    padding: 16px 32px;
    color: #ffffff;
    background-color: #5D50C6;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.159);
}

.actions button:nth-child(2) {
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #ededf0e0;
    width: 181px;
    height: 56px;
    padding: 16px 32px;
    gap: 8px;
    border-radius: 100px;
    font-weight: 700;
    background-color: #fff;
}

.vector {
    position: absolute;
    width: 772px;
    height: 287.38px;
    top: 0%;
    left: -10%;
    z-index: 1;
}

.group1 {
    position: absolute;
    gap: 10px;
    z-index: 1;
    top: 10%;
    left: 0%;
    border-radius: 32px;
}

.group2 {
    position: absolute;
    left: 0%;
    bottom: 5%;
}

.group3 {
    position: absolute;
    right: 0%;
    bottom: 30%;
    z-index: 1;
}

.frame16 {
    position: absolute;
    width: 130px;
    height: 180px;
    top: 48%;
    left: -10%;
    border-radius: 100px;
    opacity: 0px;
    z-index: 1;
}

.frame17 {
    position: absolute;
    width: 130px;
    height: 180px;
    bottom: -10%;
    left: 50%;
    border-radius: 100px;
    opacity: 0px;
}

.frame18 {
    position: absolute;
    width: 300px;
    height: 200px;
    right: -20%;
    bottom: 15%;
    padding: 16px 32px;
    gap: 8px;
    border-radius: 100px;
    opacity: 0px;
    z-index: 1;
}

.companylogo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    height: 113px;
    margin: 0 auto;
    padding: 32px 165px;
    box-sizing: border-box;
}

.arrows {
    position: absolute;
    width: 65px;
    height: 170px;
    left: 3%;
    opacity: 1;
    z-index: 1;
}

.arrows img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.service {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    height: 450px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    padding: 32px 0px;
    margin: 0 auto;
}

.ser-left,
.ser-right {
    width: 100%;
    height: 420px;
}

.ser-left {
    display: flex;
    align-items: center;
    justify-content: center;

}

.ser-right {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    gap: 40px;
    max-width: 1902px;
}

.ser-card {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 380px;
    padding: 64px;
    border-radius: 32px;
    opacity: 0px;
}

.ser-card:nth-child(2),
.ser-card:nth-child(3) {
    box-shadow: 0px 41px 89px 0px #0000001A;
}

.ser-text {
    width: 444px;
    height: 150px;
    gap: 16px;
    opacity: 0px;
}

.ser-text h1 {
    color: #F85E9F;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: left;
    width: 142px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
}

.ser-text h3 {
    font-family: sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    width: 444px;
    height: 106px;
    gap: 0px;
    opacity: 0px;
}

.ser-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    width: 180px;
}

.ser-content h5 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
}

.ser-p {
    color: #19182580;
    margin-top: 2vh;
}

.destination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    height: 228px;
    padding: 32px 165px;
    box-sizing: border-box;
    opacity: 1;
    margin: 0 auto;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 476px;
    height: 97px;
    gap: 16px;
    opacity: 0px;
}

.text h3 {
    color: #ff4180;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.text p {
    font-size: 44px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.buttons button {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    padding: 25px 25px;
    border-radius: 100px;
    border: 1px solid #19182580;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
}

.buttons button:nth-child(2) {
    color: white;
    background-color: #5D50C6;
    border: none;
    box-shadow: 0px 65px 39px 10px #0000000A;
}

.buttons img {
    width: 24px;
    height: 24px;
}

.card-group {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    height: 750px;
    padding: 32px 165px;
    margin: 0 auto;
    gap: 10px;
}

.obj-star {
    position: absolute;
    width: 107px;
    height: 106.55px;
    top: 0%;
    right: -6%;
    z-index: 1;
}

.card {
    background-color: #ffffff;
    width: 100%;
    height: 608px;
    padding: 128px 64px;
    gap: 30px;
    border-radius: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 1;
}

.card-content:hover {
    transform: scale(1.03);
    box-shadow: 0px 32px 71px 0px #0000000D;
    border-radius: 32px;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    border: 1px solid rgb(239, 239, 239);
    border-radius: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 32px 71px 0px #0000000D;
}

.card-content1 {
    margin-top: 2vw;
    margin-left: 20px;
}

.card-content2 {
    text-align: left;
    margin-top: 2vh;
    margin-left: 20px;
    margin-bottom: 2vh;
}

.travel-point {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    height: 700px;
    box-sizing: border-box;
    margin: 0 auto;
}

.travelcontent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.travel-left {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.rectangle {
    position: absolute;
    width: 705px;
    max-width: 800px;
    height: 550px;
    top: 129px;
    left: 0%;
    border-radius: 0px 500px 500px 0px;
}

.girl {
    position: absolute;
    width: 696.68px;
    height: 696.68px;
    left: 5%;
}

.ellipse14 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 20px;
    left: 584px;
}

.ellipse15 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5%;
    top: 15%;
    z-index: 1;
}

.ellipse16 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 185px;
    left: 700px;
    z-index: -1;
}

.ellipse17 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 299px;
    left: 572px;
}

.ellipse18 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 459px;
    left: 632px;
}

.discount {
    position: absolute;
    display: flex;
    width: 302px;
    height: 72px;
    top: 120px;
    left: 450px;
    padding: 16px 32px;
    gap: 16px;
    border-radius: 100px;
    opacity: 0px;
    align-items: center;
    background-color: white;
}

.travel-right {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    margin-left: 5%;
}

.travelframe {
    position: relative;
    width: 445px;
    height: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame41,
.frame42,
.frame43,
.frame44 {
    position: absolute;
    width: 220px;
    height: 151px;
    padding: 20px;
    gap: 16px;
    border-radius: 32px;
    border: 1px solid #1918251A;
}

.frame41 {
    left: 0;
    top: 0;
}

.frame42 {
    right: 0;
    top: 0;
}

.frame43 {
    bottom: 0;
    left: 0;
}

.frame44 {
    bottom: 0;
    right: 0;
}

.traveltext {
    width: 445px;
    height: 269px;
    gap: 32px;
    opacity: 0px;
    padding: 10px;
}

.traveltext h5 {
    color: #F85E9F;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: left;

}

.traveltext h3 {
    font-family: sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    width: 445px;
    height: 106px;
}

.traveltext p {
    color: #19182580;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    width: 445px;
    height: 87px;
    margin-top: 3%;
}

.num {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FF5722;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2em;
}

.num-txt {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.frame50 {
    position: absolute;
    top: -25%;
    right: -35%;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.231);
}

.keyfeature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    padding: 32px 100px;
    margin: 0 auto;
    box-sizing: border-box;
}

.key,
.key_image {
    flex: 1;
}

.keyleft {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin-left: 20px;

}

.key-text {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    opacity: 1;
}

.key-text h2 {
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
    color: #F85E9F;
}

.key-text h3 {
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    margin-top: 2%;
}

.key-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #19182580;
    margin-top: 2%;
    width: 500px;
}

.services {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: auto;
    margin-left: 5%;
    text-align: center;
    padding: 5px;
}

.offer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    box-sizing: border-box;
    opacity: 1;
}

.offer-content:nth-child(2) {
    border: 1px solid #1918251A;
    border-radius: 32px;
}


.offer-text {
    text-align: left;
    margin-top: 15px;
    width: 80%;
}

.offer-text h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
}

.offer-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
}

.offer-img img {
    width: 100%;
    max-width: 60px;
    height: auto;
}

.key_image {
    /* border: 1px solid orange; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

}

.discount2 {
    position: absolute;
    background-color: white;
    right: 20%;
    top: 20%;
    padding: 16px 32px;
    border-radius: 100px;
    width: 250px;
    height: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.keyimg {
    /* border: 1px solid yellow; */
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 600px;
}

.rectangle9 {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 300px;
    height: 450px;
    border-radius: 100px;
    opacity: 1;
}

.rectangle10 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 300px;
    height: 400px;
    border-radius: 100px;
    opacity: 1;
}

.bg {
    position: absolute;
    top: 0%;
    right: 5%;
    width: 400px;
    height: 250px;
    z-index: -1;
    opacity: 1;
}

.testimonial {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    margin: 0 auto;
    height: 700px;
    padding: 0;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layer img {
    position: absolute;
    width: 100%;
    height: 140%;
    top: -25%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2506px;
    position: relative;
    z-index: 1;
}

.testimonial-left,
.testimonial-right {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-left button,
.testimonial-right button {
    width: 100px;
    height: 100px;
    padding: 16px 32px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bolder;
}

.testimonial-right button {
    color: white;
    background-color: #5D50C6;
    box-shadow: 0px 29px 29px 0px #0000000F;
}

.testimonial-left button img,
.testimonial-right button img {
    width: 30px;
    height: 30px;
}


.testament {
    flex: 1;
    max-width: 65%;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.testimonial-head h4 {
    color: #f35e76;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: center;
    margin-bottom: 1%;

}

.testimonial-head h3 {
    font-family: sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: center;
    margin-bottom: 5%;
}

.testimonial-content img {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.testimonial-footer {
    margin-top: 1rem;
}

.testimonial-footer h3 {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    margin-bottom: 5%;

}

.testimonial-footer span {
    color: #FF5722;
}

.testimonial-footer p {
    color: #19182580;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 450;
    line-height: 36.8px;
    text-align: center;
}

.testimonial-footer h3,
.testimonial-footer p {
    margin: 0.5rem 0;
}

.testimonial-footer img {
    max-width: 80%;
    height: auto;
    margin: 1rem auto;
}

.testimonial-dots img {
    margin-top: 10%;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.newsletter {
    padding: 32px 165px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1900px;
    max-width: 2560px;
    margin: 0 auto;
}

.letter {
    background-color: #fff8f9;
    width: 1110px;
    height: 608px;
    padding: 128px 64px;
    gap: 64px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 1;
}

.news-text {
    width: 100%;
    max-width: 982px;
    height: auto;
    text-align: center;
}

.news-text h3 {
    text-transform: uppercase;
    color: #ff4180;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 5%;
}

.news-text h2 {
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
}

.news-input {
    width: 982px;
    height: 96px;
    gap: 64px;
    opacity: 0px;
    display: flex;
    align-items: center;
}

.news-input label {
    position: relative;
    display: flex;
    align-items: center;
}

.news-input input {
    width: 683px;
    height: 96px;
    padding: 32px;
    gap: 16px;
    border-radius: 32px;
    opacity: 0px;
    padding-left: 40px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 24px;
    box-sizing: border-box;
    background-color: #fff;
}

.news-input ::placeholder {
    font-size: 24px;
    color: #191825BF;
}

.news-input .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.news-input button {
    background-color: #5D50C6;
    color: white;
    border: none;
    font-size: 24px;
    width: 235px;
    height: 96px;
    padding: 32px 64px;
    gap: 16px;
    border-radius: 32px;
    opacity: 0px;
}

.Graphic_Elements {
    position: absolute;
    width: 183.86px;
    height: 176.35px;
    top: 5%;
    left: -1%;
    transform: translate(-10%, -50%);
    opacity: 1;
}

.footer {
    /* border: 1px solid red; */
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-width: 1500px;
    max-width: 2000px;
    height: 353px;
    padding: 32px 165px ;
    gap: 10px;

}

.aboutus {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 400px;
    min-width: 200px;
    height: 330px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    max-width: 700px;
    min-width: 400px;
    line-height: 2.1;
}

.contact h3 {
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
}

.contact p {
    color: #19182575;
    font-size: 18px;
    font-weight: 400;
    line-height: 48.8px;
    text-align: left;
}

.about-content h3 {
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 450;
    line-height: 36.8px;
    text-align: left;
    color: #19182584;
    width: 278px;
    height: 185px;
}

.socials {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 32px;
    gap: 20px;
    margin-top: 10%;
}

.obj3 {
    position: absolute;
    width: 120px;
    height: 351.95px;
    right: 0%;
    bottom: 60%;
}

.copyright {
    position: absolute;
    bottom: 0%;
    text-align: center;
    color: #19182580;
    font-size: large;
}

.logofooter {
    width: 142px;
    height: 40px;
    gap: 16px;
    margin-bottom: 5%;
}