* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    border: 1px solid #645e5e;
}

.content {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;

}


.nav {
    height: 4rem;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    font-weight: 700;
}

.nav a:first-of-type {
    color: black;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 2rem;
}

nav a {
    text-decoration: none;
    color: #19182580;
    font-size: 2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #343438cd;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-buttons button {
    padding: 1rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 100px;
    transition: background-color 0.3s ease;
}

.nav-buttons button:nth-child(2) {
    background-color: #5D50C6;
    color: #fff;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem 2rem;
    gap: 2rem;
    width: 100%;
}

.left {
    flex: 1;
    min-width: 300px;
    flex-direction: column;
}

.explore {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    margin-bottom: 1rem;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.explore h1 {
    font-size: 1rem;
    text-align: center;
    color: #F85E9F;
}

.intro-text {
    max-width: 500px;
    margin-top: 10%;
}

.intro-text h1 {
    font-size: 3rem;
    line-height: 1.2;
}

.intro-text span {
    color: #f35e76;
}

.intro-para {
    max-width: 500px;
    margin-top: 1rem;
}

.intro-para p {
    font-size: 1rem;
    line-height: 1.5;
    color: #19182580;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 4rem;
}

.actions button:first-child {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: #5D50C6;
    color: #fff;
    border: none;
    border-radius: 100px;
}

.actions button:nth-child(2) {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: 1px solid #ededf0;
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 720px;
}

.vector {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
}

.group1,
.group2,
.group3 {
    position: absolute;
    width: 20%;
    border-radius: 32px;
}

.group1 {
    top: 10%;
    left: 10%;
    width: 272px;
    height: 300px;
}

.group2 {
    width: 272px;
    height: 300px;
    left: 10%;
    bottom: 5%;
}

.group3 {
    bottom: 15%;
    right: 10%;
    width: 272px;
    height: 400px;
}

.frame16,
.frame17,
.frame18 {
    position: absolute;
    max-width: 100px;
    opacity: 1;
    z-index: 1;
}

.frame16 {
    top: 50%;
    left: 5%;
}

.frame17 {
    bottom: -10%;
    left: 50%;
}

.frame18 {
    right: 5%;
    bottom: 15%;
}

.companylogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: relative;
    min-height: 150px;
}

.companylogo img {
    max-width: 12rem;
    height: auto;
}

.arrows {
    position: absolute;
    width: 2.8rem;
    left: 2%;
    top: 10%;
}

.service {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 450px;
    box-sizing: border-box;
    opacity: 1;
    overflow: hidden;
    padding: 1rem 0rem;
}

.ser-left,
.ser-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.ser-left {
    align-items: flex-start;
    padding: 0 16px;
}

.ser-text h1 {
    color: #F85E9F;
}

.ser-text h3 {
    font-size: 2.4rem;
}

.ser-right {
    flex-wrap: wrap;
    gap: 24px;
    position: relative;
    width: 100%;
    height: 350px;
}

.ser-card1 {

    position: absolute;
    width: 330px;
    height: 320px;
    border-radius: 32px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    left: 0%;
}

.ser-card2 {
    position: absolute;
    width: 330px;
    height: 320px;
    border-radius: 32px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    left: 45%;
}


.ser-card3 {
    display: block;
    position: absolute;
    width: 80px;
    height: 320px;
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    right: 0%;

}

.ser-card3 {
    border-radius: 32px 0px 0px 32px;
}

.ser-card2,
.ser-card3 {
    box-shadow: 0px 41px 89px 0px #0000001A;
}

.ser-card3 {
    display: none;
}

.ser-img {
    display: block;
    margin: 0 auto;
    margin-top: 16px;
}

.ser-content {
    margin-top: 20px;
}

.ser-content h5 {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
}

.ser-content p {
    font-size: 18px;
    color: #555;
}


.destination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    box-sizing: border-box;
    gap: 1rem;
    min-height: 200px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 1px;
}

.text h3 {
    color: #ff4180;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.text p {
    font-size: 32px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 500px;
    height: 100px;
}

.buttons button {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #19182580;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button:nth-child(2) {
    color: white;
    background-color: #5D50C6;
    border: none;
    box-shadow: 0px 4px 10px #0000001A;
}

.buttons img {
    width: 16px;
    height: 16px;
}


.cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 2rem 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    max-width: 250px;
    border-radius: 2rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    width: 100%;
}

.card-content2 {
    width: 100%;
    max-width: 50px;
    height: auto;
    text-align: left;
}

.obj-star {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0%;
    right: 5%;
    z-index: 1;
}

.travelpoint {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.travelcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    max-width: 1440px;
    width: 100%;
}

.travel-left,
.travel-right {
    flex: 1;
    height: 720px;
    position: relative;
}

.rectangle {
    position: absolute;
    height: auto;
    bottom: 0%;
    left: 0%;
}

.girl {
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;
    bottom: 0%;
}

.ellipse14 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 20px;
    left: 584px;
}

.ellipse15 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 5%;
    top: 15%;
    z-index: 1;
}

.ellipse16 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 185px;
    left: 700px;
    z-index: -1;
}

.ellipse17 {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 299px;
    left: 572px;
}

.ellipse18 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 459px;
    left: 632px;
}

.discount {
    position: absolute;
    display: flex;
    width: 302px;
    height: 72px;
    top: 120px;
    left: 450px;
    padding: 16px 32px;
    gap: 16px;
    border-radius: 100px;
    align-items: center;
    background-color: white;
}

.travelframe {
    position: relative;
    width: 445px;
    height: 45%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame41,
.frame42,
.frame43,
.frame44 {
    position: absolute;
    width: 220px;
    height: 151px;
    padding: 20px;
    gap: 16px;
    border-radius: 32px;
    border: 1px solid #1918251A;
}

.frame41 {
    left: 0;
    top: 0;
}

.frame42 {
    right: 0;
    top: 0;
}

.frame43 {
    bottom: 0;
    left: 0;
}

.frame44 {
    bottom: 0;
    right: 0;
}

.traveltext {
    width: 445px;
    height: 269px;
    gap: 32px;
    opacity: 0px;
    padding: 10px;
}

.traveltext h5 {
    color: #F85E9F;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: left;

}

.traveltext h3 {
    font-family: sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 52.8px;
    text-align: left;
    width: 445px;
    height: 106px;
}

.traveltext p {
    color: #19182580;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    width: 445px;
    height: 87px;
    margin-top: 3%;
}

.num {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FF5722;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2em;
}

.num-txt {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5em;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.frame50 {
    position: absolute;
    top: -25%;
    right: -35%;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.231);
}

.keyfeature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.key,
.key_image {
    flex: 1 1 300px;
    max-width: 600px;
    min-height: 600px;
}

.keyleft {
    width: 100%;
}

.key-text {
    padding: 20px;
}

.key-text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f85e9f;
}

.key-text h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.key-text p {
    font-size: 1rem;
    color: #19182580;
    margin-top: 1rem;
}

.services {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 380px;
}

.offer-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.offer-content:nth-child(2) {
    border: 1px solid #1918251a;
}

.offer-img img {
    width: 50px;
    height: 50px;
}

.offer-text h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

.offer-text p {
    font-size: 0.875rem;
}

.key_image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.keyimg {
    width: 100%;
    position: relative;
    min-height: 100%;
    max-width: 600px;
}

.rectangle9 {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 50%;
}

.rectangle10 {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 40%;
}

.bg {
    position: absolute;
    top: 0%;
    left: 35%;
    z-index: -1;
    width: 300px;
    height: 220px;
}

.discount2 {
    position: absolute;
    background: white;
    right: 30%;
    top: 15%;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.discount2 img {
    width: 20px;
    height: 20px;
}

.discount2 h5 {
    font-size: 0.875rem;
}

.testimonial {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layer img {
    width: 100%;
    height: 100%;
    top: 30%;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
    z-index: 1;
    gap: 20px;
}

.testimonial-left,
.testimonial-right {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-left button,
.testimonial-right button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.testimonial-right button {
    background-color: #5D50C6;
}

.testimonial-left button img,
.testimonial-right button img {
    width: 30px;
    height: 30px;
}

.testament {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.testimonial-head h4 {
    color: #f35e76;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2;
    margin-bottom: 5px;
}

.testimonial-head h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.testimonial-content img {
    max-width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-footer {
    margin-top: 20px;
}

.testimonial-footer h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.testimonial-footer span {
    color: #FF5722;
}

.testimonial-footer p {
    margin-top: 1%;
    font-size: 1rem;
    color: #292727;
}

.testimonial-dots img {
    margin-top: 20px;
    max-width: 100px;
    height: auto;
}

.newsletter {
    padding: 2rem 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.letter {
    background-color: #fff8f9;
    width: 90%;
    max-width: 1110px;
    min-height: 500px;
    padding: 1rem 2rem;
    gap: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.news-text {
    width: 100%;
    max-width: 982px;
    min-height: 200px;
    text-align: center;
}

.news-text h3 {
    text-transform: uppercase;
    color: #ff4180;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 5px;
    text-align: center;
}

.news-text h2 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
    margin-top: 2%;
}

.news-input {
    width: 100%;
    max-width: 90%;
    min-height: 96px;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.news-input label {
    position: relative;
    flex: 1 1 60%;
    display: flex;
    align-items: center;
    max-width: 70%;
}

.news-input input {
    width: 100%;
    height: 80px;
    padding: 16px;
    border-radius: 32px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fff;
}

.news-input ::placeholder {
    font-size: 1.2rem;
    color: #191825BF;
}

.news-input .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

.news-input button {
    background-color: #5D50C6;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 32px;
    cursor: pointer;
    flex: 1 1 auto;
    max-width: 200px;
    height: 80px;
    width: 30px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.Graphic_Elements {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 5%;
    left: -1%;
    transform: translate(-10%, -50%);
}

.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2rem 8rem;
    gap: 5rem;
    box-sizing: border-box;
}

.aboutus {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 400px;
    min-width: 300px;
    height: auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    max-width: 700px;
    min-width: 400px;
    line-height: 2.1;
}

.contact h3 {
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;
}

.contact p {
    color: #19182575;
    font-size: 18px;
    font-weight: 400;
    line-height: 48.8px;
    text-align: left;
}

.about-content h3 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 450;
    line-height: 36.8px;
    text-align: left;
    color: #19182584;
    width: 278px;
    height: auto;
}

.socials {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    max-width: 200px;
    height: 32px;
    gap: 20px;
    margin-top: 10%;
}

.obj3 {
    position: absolute;
    width: 100px;
    height: 300px;
    right: 0%;
    bottom: 60%;
}

.copyright {
    position: absolute;
    bottom: 0%;
    text-align: center;
    color: #19182580;
    font-size: 1.3rem;
}

.logofooter {
    width: 142px;
    height: 40px;
    gap: 16px;
    margin-bottom: 5%;
}

@media (max-width:1440px) {
    .group3 {
        left: 55%;
    }

    .frame18 {
        right: 0%;
        bottom: 20%;
    }


    .companylogo {
        justify-content: center;
        gap: 8rem;
    }

    .companylogo img {
        max-width: 8rem;
    }


    .arrows {
        position: absolute;
        width: 2.8rem;
        left: 5%;
        top: 0%;
    }


    .text {
        margin-left: 3%;
    }

    .keyimg {
        min-height: 650px;
    }

    .rectangle9 {
        top: 10%;
        left: 0%;
        width: 60%;
    }

    .rectangle10 {
        top: 30%;
        left: 40%;
        width: 60%;
        height: 70%;
    }

    .bg {
        top: 2%;
        left: 30%;
        z-index: -1;
        width: 400px;
        height: 200px;
    }

    .discount2 {
        top: 15%;
        left: 40%;
    }

}

@media (max-width:1024px) {

    .right {
        max-width: 100%;
    }

    .group1 {
        top: 15%;
        left: 0%;
        width: 220px;
        height: 280px;
    }

    .group2 {
        width: 220px;
        height: 280px;
        left: 0%;
        bottom: 5%;
    }

    .group3 {
        bottom: 30%;
        right: 0%;
        width: 220px;
        height: 280px;
    }

    .frame16 {
        top: 50%;
        left: -10%;
    }

    .frame17 {
        bottom: -5%;
        left: 55%;
    }

    .frame18 {
        right: -10%;
        bottom: 30%;
        z-index: 1;
    }


    .text p {
        font-size: 30px;
    }

    .buttons {
        justify-content: flex-end;
    }


    .companylogo {
        justify-content: center;
        gap: 1rem;
    }

    .companylogo img {
        max-width: 10rem;
    }

    .service {
        flex-direction: row;
    }

    .ser-left {
        width: 40%;
    }

    .ser-right {
        width: 60%;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .ser-card1,
    .ser-card2 {
        width: 250px;
    }


    .cards {
        height: 400px;
        overflow: scroll;
    }

    .cards {
        gap: 2rem;
    }

    .card {
        max-width: 50%;
    }

    .card-content2 {
        max-width: 80px;
    }

    .obj-star {
        top: 5%;
    }

    .content {
        flex-direction: column;
    }

    .travelcontent {
        width: 100%;
    }

    .travel-left,
    .travel-right {
        width: 100%;
        margin: 2rem 0rem;
        position: relative;
    }

    .rectangle {
        left: -50%;
        width: 1rem;
    }

    .girl {
        width: 50%;
        height: auto;
        left: -15%;
    }

    .ellipse14 {
        position: absolute;
        width: 96px;
        height: 96px;
        top: 10px;
        left: 310px;
    }

    .ellipse15 {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 20px;
        top: 15%;
        z-index: 1;
    }

    .ellipse16 {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 185px;
        left: 450px;
        z-index: 1;
    }

    .ellipse17 {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 299px;
        left: 400px;
    }

    .ellipse18 {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 459px;
        left: 420px;
    }

    .discount {
        top: 20%;

        left: 60%;
        width: 40%;
        font-size: 12px;
        height: 8%;
        padding: 1px 2px;
    }

    .travel-right {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .travelframe {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .frame41,
    .frame42,
    .frame43,
    .frame44 {

        width: 50%;
        height: 45%;
        margin-bottom: 10px;
    }

    .frame50 {
        width: 100%;
        max-width: 200px;
        left: 80%;
    }

    .traveltext {
        width: 100%;
        margin-bottom: 20px;
    }

    .traveltext h3 {
        font-size: 32px;
    }

    .traveltext p {
        font-size: 16px;
    }

    .num {
        font-size: 25px;
    }

    .num-txt {
        font-size: 16px;
    }


    .keyimg {
        max-width: 100%;
    }

    .rectangle10 {
        top: 25%;
        left: 40%;
        width: 60%;
        height: 60%;
    }

    .discount2 {
        top: 15%;
        left: 45%;
        width: 40%;
    }

    .contact {
        gap: 1.5rem;
    }
}


@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        line-height: 2;
    }

    .nav-buttons {
        flex-direction: row;
        gap: 10px;
        width: 100%;
    }

    .nav-buttons button {
        width: 100%;
        padding: 0.7rem;
        text-align: center;
    }

    .intro {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        min-height: 300px;
    }

    .intro-text h1 {
        font-size: 2.5rem;
    }

    .actions {
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 10%;
    }

    .group1 {
        top: 10%;
        left: 15%;
        width: 272px;
        height: 300px;
    }

    .group2 {
        width: 272px;
        height: 300px;
        left: 15%;
        bottom: 5%;
    }

    .group3 {
        bottom: 20%;
        right: 5%;
        width: 272px;
        height: 350px;
    }

    .frame16 {
        top: 50%;
        left: 10%;
    }

    .frame17 {
        bottom: -5%;
        left: 55%;
    }

    .frame18 {
        right: 0%;
        bottom: 20%;
        z-index: 1;
    }

    .companylogo {
        justify-content: center;
        gap: 1rem;
    }

    .companylogo img {
        max-width: 6rem;
    }

    .service {

        flex-direction: row;
    }

    .ser-text h1 {
        text-align: left;
        font-size: 16px;
    }

    .ser-text h3 {
        font-size: 18px;
    }

    .ser-card1,
    .ser-card2 {
        width: 200px;
    }

    .ser-card2 {
        margin-left: 5%;
    }

    .ser-content h5 {
        font-size: 14px;
    }

    .ser-content p {
        font-size: 18px;
    }


    .ser-card3 {
        display: none;
    }

    .destination {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .text {
        align-items: center;
        text-align: center;
    }

    .text h3 {
        font-size: 1.8rem;
    }

    .text p {
        font-size: 2rem;
    }

    .buttons {
        gap: 10px;
        justify-content: center;
    }

    .buttons button {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    .buttons img {
        width: 12px;
        height: 12px;
    }

    .cards {
        height: 400px;
        overflow: scroll;
    }

    .cards {
        gap: 2rem;
    }

    .card {
        max-width: 50%;
    }

    .card-content2 {
        max-width: 80px;
    }

    .travelpoint {
        flex-direction: column;
        width: 100%;
    }

    .travelcontent {
        min-height: 650px;
        width: 100%;
        padding: 15px;
    }

    .rectangle {
        left: 0%;
        bottom: 0%;
    }

    .girl {
        position: absolute;
        left: 15%;
        bottom: -2%;
    }

    .ellipse14 {
        top: 0%;
        left: 70%;
    }

    .ellipse15 {
        top: 12%;
    }

    .ellipse16 {
        top: 25%;
        left: 85%;
    }

    .ellipse17 {
        top: 50%;
        left: 75%;
    }

    .ellipse18 {
        top: 65%;
        left: 80%;
    }

    .discount {
        width: 200px;
        top: 15%;
        left: 65%;
    }

    .travelframe {
        width: 100%;
        height: 300px;
    }

    .frame50 {
        left: 85%;
    }

    .key-text {
        text-align: center;
    }

    .key-text h2 {
        font-size: 1.3rem;
    }

    .key-text h3 {
        font-size: 1.5rem;
    }

    .services {
        gap: 1rem;
        margin-left: 15%;

    }

    .offer-content {
        flex-direction: column;
        text-align: center;
    }

    .keyimg {
        max-width: 100%;
    }

    .rectangle10 {
        top: 40%;
    }

    .discount2 {
        top: 15%;
        width: 30%;
    }

    .main {
        flex-direction: row;
        max-width: 100%;
    }

    .layer {
        position: absolute;
        max-width: 100%;
        height: 100%;
    }

    .layer img {
        width: 100%;
        height: 100%;
    }


    .testament {
        padding: 10px;
    }

    .testimonial-left button,
    .testimonial-right button {
        width: 50px;
        height: 50px;
    }

    .testimonial-head h3 {
        font-size: 1.5rem;
    }

    .testimonial-footer h3 {
        font-size: 1rem;
    }

    .testimonial-footer p {
        font-size: 0.9rem;
    }

    .letter {
        padding: 16px;
    }

    .news-text {
        min-height: 100px;
    }

    .news-text h2 {
        font-size: 2rem;
        line-height: 1.3;
    }

    .news-text h3 {
        font-size: 1rem;
    }

    .news-input {
        flex-direction: column;
        gap: 16px;
    }

    .news-input input {
        height: 40px;
        font-size: 14px;
        width: 100%;
        border-radius: 2rem;
    }

    .news-input button {
        font-size: 14px;
        padding: 1rem 2rem;
        height: 50px;
        width: 100%;
        border-radius: 2rem;
    }

    .Graphic_Elements {
        width: 80px;
        height: 80px;
    }

    .footer {
        padding: 20px;
        gap: 20px;
        flex-direction: row;
    }

    .aboutus {
        width: 100%;
        padding: 20px;
    }

    .contact {
        width: 100%;
        flex-direction: row;
        padding: 20px;
        flex-wrap: wrap;
    }

    .contact h3 {
        font-size: 18px;
    }

    .contact p {
        font-size: 14px;
    }

    .about-content h3 {
        font-size: 16px;
    }

    .socials {
        gap: 10px;
    }

    .obj3 {
        width: 60px;
        height: 160px;
        bottom: 80%;
    }

    .copyright {
        font-size: 16px;
        text-align: center;

    }

    .logofooter {
        width: 100px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .logo img {
        max-height: 1.5rem;
    }

    nav a {
        font-size: 0.9rem;
    }

    .nav-buttons button {
        font-size: 0.7rem;
    }

    .left {
        min-height: 300px;
    }

    .explore {
        width: 200px;
        height: 50px;
    }

    .intro-text h1 {
        font-size: 2rem;
    }

    .intro-para p {
        font-size: 0.8rem;
    }

    .actions button {
        margin-top: 10%;
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .right {
        min-height: 400px;
    }

    .group1 {
        top: 1%;
        left: 2%;
        width: 150px;
        height: 180px;
    }

    .group2 {

        width: 150px;
        height: 180px;
        left: 2%;
        bottom: 0%;
    }

    .group3 {
        bottom: 20%;
        right: 2%;
        width: 180px;
        height: 220px;
    }

    .frame16 {
        top: 45%;
        left: -10%;
    }

    .frame17 {
        top: 85%;
        left: 45%;
    }

    .frame18 {
        right: -10%;
        bottom: 15%;
        z-index: 1;
    }

    .companylogo {
        justify-content: center;
        gap: 1rem;
    }

    .companylogo img {
        max-width: 6rem;
    }

    .arrows {
        position: absolute;
        width: 2.8rem;
        left: -3%;
        top: 0%;
    }

    .service {
        flex-direction: column;

    }

    .ser-left {
        text-align: center;
    }

    .ser-text h1 {
        text-align: center;
    }

    .ser-text h3 {
        width: 300px;
    }

    .ser-right {
        flex-direction: column;
        gap: 3rem;
        width: 400px;
        min-height: 620px;
    }

    .ser-card1 {
        height: 300px;
        left: 25%;
    }

    .ser-card2 {
        bottom: 0%;
        left: 20%;
        height: 300px;
    }


    .cards {
        height: 300px;
        overflow: scroll;
    }

    .content {
        padding: 1rem 2rem;
        gap: 6rem;
    }

    .cards {
        gap: 2rem;
    }

    .card {
        max-width: 60%;
    }

    .card-content2 {
        max-width: 50px;
    }

    .obj-star {
        right: 0%;
        top: 5%;
    }

    .travelcontent {
        min-height: 600px;
        width: 100%;
        padding: 15px;
    }

    .travel-left {
        display: none;
    }

    .traveltext h5 {
        font-size: 15px;
    }

    .traveltext h3 {
        font-size: 18px;
    }

    .traveltext p {
        width: 100%;
        font-size: 18px;
        margin-top: -15%;
    }

    .travelframe {
        margin-top: -15%;
    }

    .frame50 {
        left: 70%;
    }

    .keyfeature {
        padding: 20px;
        flex-direction: column;
    }

    .offer-content {
        padding: 10px;
    }

    .services {
        margin-left: 0%;
    }

    .keyimg {
        min-height: 500px;
        max-width: 100%;
    }

    .discount2 {
        top: 20%;
        width: 45%;
        padding: 6px 12px;
    }

    .bg{
        left: 15%;
    }

    .layer {
        border: 1px solid grey;
    }

    .testament {
        padding: 0px;
    }

    .testimonial-head h3 {
        font-size: 1.2rem;
    }

    .testimonial-footer h3 {
        font-size: 1rem;
    }

    .testimonial-footer p {
        font-size: 0.9rem;
    }

    .news-text h2 {
        font-size: 1.6rem;
    }

    .news-text h3 {
        font-size: 1rem;
    }

    .news-input input {
        font-size: 12px;
    }

    .news-input button {
        font-size: 12px;
    }

    .Graphic_Elements {
        width: 50px;
        height: 50px;
        top: 3%;
        left: -2%;
    }

    .footer {
        padding: 15px;
        gap: 15px;
        flex-direction: column;
    }

    .aboutus {
        width: 100%;
        padding: 10px;
    }

    .contact {
        width: 100%;
        flex-direction: row;
        padding: 10px;
    }

    .contact h3 {
        font-size: 16px;
    }

    .contact p {
        font-size: 14px;
    }

    .about-content h3 {
        font-size: 14px;
    }

    .socials {
        gap: 8px;
    }

    .copyright {
        font-size: 12px;
        margin-left: 10%;
    }

    .logofooter {
        width: 80px;
        height: auto;
    }

    .obj3 {
        width: 60px;
        height: 160px;
        bottom: 95%;
        right: -8%;
    }

}