* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {

    overflow-x: hidden;
    background-size: 100% 100%;
    background-position: 0 0;
    background-image: radial-gradient(30% 11% at 7% -2%, rgba(255, 203, 203, 0.897) 1%, #ffffff00 99%);
    background-repeat: no-repeat;
}

.header {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 8vw;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    gap: 5vw;
}

.logo img {
    height: auto;
    max-width: 100%;
    flex-shrink: 1;
}

.navigation {
    display: flex;
    gap: 5vw;
    flex: 1 1 auto;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-size: 1.2vw;
    font-weight: 700;
    line-height: 1.5;
    text-align: left;
    flex-shrink: 1;
}

.navigation a:hover {
    color: #19182580;
}

.nav-buttons {
    /* border: 1px solid red; */
    display: flex;
    gap: 1vw;
    width: auto;
    height: auto;
    flex: 0 1 auto;
    /* min-width: 150px; */
    /* flex-wrap: wrap; */
}

.nav-buttons button {
    padding: 2vh 2vw;
    font-size: 1.2vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    background-color: #ffffff;
    flex-shrink: 1;
}

.nav-buttons button:hover {
    background-color: #5D50C6;
    color: white;
}

/* explore */

.content {
    /* border: 1px solid red; */
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.intro {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    width: 30vw;
    height: auto;
    transform: translateY(-15%)translateX(-90%);
    flex: 0 1 auto;
    max-width: 450px;
    min-width: 250px;
    box-sizing: border-box;
}

.explore {
    margin-left: 5%;
    display: inline-block;
    border: none;
    padding: 1vh 2vw;
    text-align: center;
    background-color: #ffffff;
    color: #f35e76;
    font-size: 1.2vh;
    transform: scale(1.6);
    font-weight: bold;
    width: 10vw;
    height: 6vh;
    border-radius: 100px;
    box-shadow: 0px 9px 61px 2px rgba(0, 0, 0, 0.09);
    /* z-index: 1; */
}

h1 span {
    color: #ff4180;
}

.content h1 {
    margin-top: 8vh;
    font-size: 9vh;
    color: #000;
    margin-bottom: 16px;
    width: 90%;
    line-height: 9vh;
    text-align: left;
}

.content p {
    margin-top: 4vh;
    font-size: 2.5vh;
    color: #19182580;
    width: 90%;
}

.actions {
    /* border: 1px solid red; */
    transform: translateY(5%);
    margin-top: 10vh;
    display: flex;
    gap: 6vw;
    width: auto;
    height: 6vh;
}

.actions button {
    transform: scale(1.5);
    padding: 1vw 4vh;
    text-align: center;
    font-size: 1.5vh;
    border-radius: 100px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.actions button:hover {
    /* color: #ffffff; */
    background-color: #5D50C6;

}



.vector {
    /* border: 1px solid red; */
    position: absolute;
    width: 772px;
    height: 287.38px;
    left: 40%;
    top: 20%;
    gap: 0px;
    opacity: 0px;
    z-index: -1;
}

.frame17 {
    position: absolute;
    bottom: -30%;
    right: 24.2%;
    z-index: 1;
}

.frame16 {
    position: absolute;
    bottom: 10%;
    right: 51%;
}

.rectangle1 {
    position: absolute;
    top: 32%;
    left: 45%;
    z-index: -1;
}

.rectangle2 {
    position: absolute;
    top: 75%;
    left: 45%;
    z-index: 1;
}

.rectangle3 {
    position: absolute;
    top: 45%;
    left: 64%;
    z-index: 1;
}

.frame18 {
    position: absolute;
    top: 86%;
    left: 76%;
    z-index: 1;
}

/* .companylogos */

.container {
    /* border: 1px solid red; */
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1.1);
    box-sizing: border-box;
}

.companylogo,
.object-image {
    max-width: 100%;
    width: 90%;
    height: auto;
    box-sizing: border-box;
}

.object-image {
    position: absolute;
    top: -1%;
    left: 10%;
    opacity: 0.8;
}

.object-image img {
    max-width: 200px;
    height: 20vh;
    object-fit: cover;
}

/* services */

.service {
    /* border: 1px solid red; */
    /* padding: 2vw; */
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    overflow: hidden;
    box-sizing: border-box;
    height: 400px;
}

.left-div {
    /* border: 1px solid red; */
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    text-align: left;
    flex: 1 1 40%;
    max-width: 70%;
    box-sizing: border-box;

}

.left-div h3 {
    color: #F85E9F;
    font-size: 1.4vw;
    letter-spacing: 0.5vw;
    margin-bottom: 3vh;
}

.left-div p {
    /* border: 1px solid red; */
    color: #000;
    font-weight: bold;
    font-size: 3.4vw;
    max-width: 80%;
}

.right-div {
    position: relative;
    /* border: 1px solid rgb(89, 0, 255); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    flex: 1 1 55%;
    max-width: 50%;
    box-sizing: border-box;
}

.right-content1 {
    position: absolute;
    overflow: hidden;
    flex: 1 1 20%;
    max-width: 280px;
    height: 90%;
    padding: 3vw;
    gap: 3vw;
    border-radius: 32px;
    margin: 1vw;
    border: 1px solid #f0f0f0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    left: 5%;
}

.right-content2 {
    position: absolute;
    overflow: hidden;
    flex: 1 1 20%;
    max-width: 270px;
    height: 90%;
    padding: 3vw;
    gap: 3vw;
    border-radius: 32px;
    margin: 1vw;
    border: 1px solid #f0f0f0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    left: 45%;
}

.right-content3 {
    position: absolute;
    overflow: hidden;
    flex: 1 1 20%;
    max-width: 280px;
    height: 90%;
    padding: 3vw;
    gap: 3vw;
    border-radius: 32px;
    margin: 1vw;
    border: 1px solid #f0f0f0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
    right: -25%;
}


.right-content1:hover {
    transform: scale(1.08);
    box-shadow: 0px 9px 61px 2px rgba(0, 0, 0, 0.15);
}

.right-content2:hover {
    transform: scale(1.08);
    box-shadow: 0px 9px 61px 2px rgba(0, 0, 0, 0.15);
}

.right-content3:hover {
    transform: scale(1.08);
    box-shadow: 0px 9px 61px 2px rgba(0, 0, 0, 0.15);
}



.rtext {
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 2vw;
    line-height: 1.5;
}

.rtext img {
    max-width: 100%;
    height: auto;
}

.rtext h3 {
    /* border: 1px solid red; */
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 85%;
}

.rtext p {
    margin-top: 1.5vw;
    color: #19182580;
}


/* topdestination */
.destination {
    height: auto;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 2vw;
    flex-wrap: wrap;
}

.text {
    /* border: 1px solid red; */
    margin-left: 5%;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.text h3 {
    color: #ff4180;
    font-size: 2vw;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.text p {
    font-size: 2vw;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1vw;
    justify-content: center;
    flex: 1 1 40%;
    margin-left: 15%;
    align-items: center;
}

.buttons button {
    background-color: #ffffff;
    padding: 2vw 2vw;
    border-radius: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #19182580;
}

.buttons button:hover {
    background-color: #5D50C6;
    border: none;
}

.buttons img {
    width: 1.5vw;
    height: auto;
}


.card-group {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
    gap: 2vw;
    padding: 2vw;
}

.card {
    height: auto;
    width: 30%;
    max-width: 340px;
    margin-bottom: 2vw;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    flex: 1;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content1 {
    margin-top: 2vw;
}

.card-content2 {
    text-align: left;
    margin-top: 2vh;
    margin-left: 10%;
}

/* travel point  */

.travel-point {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;

}

.travel-img .travel-text {
    flex: 0 1 auto;
    max-width: 50%;
    box-sizing: border-box;
}

.discount {

    position: absolute;
    display: flex;
    padding: 2% 3%;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 1.5vw;
    transform: scale(0.5);
    background-color: white;
    left: 30%;
    top: 22%;
    gap: 10px;
    box-sizing: border-box;
}

.travel-img {
    /* border: 1px solid red; */
    position: absolute;
    width: 50%;
    height: 100%;
    gap: 0px;
    opacity: 1;
}

.rectangle img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.girl {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 12%;
    bottom: -3%;
}

.ellipse14,
.ellipse15,
.ellipse16,
.ellipse17,
.ellipse18 {
    position: absolute;
    border-radius: 50%;
}

.ellipse14 {
    width: 10%;
    height: 10%;
    top: 2%;
    left: 60%;
}

.ellipse15 {
    width: 5%;
    height: 5%;
    top: 19%;
    left: 8%;
}

.ellipse16 {
    width: 5%;
    height: 5%;
    top: 30%;
    left: 95%;
}

.ellipse17 {
    width: 2%;
    height: 2%;
    top: 50%;
    left: 78%;
}

.ellipse18 {
    width: 5%;
    height: 5%;
    top: 75%;
    left: 85%;
}

.travel-text {
    /* border: 1px solid red; */
    line-height: 1.6em;
    position: relative;
    flex: 1 1 40%;
    width: 40%;
    height: auto;
    left: 55%;
    margin-top: 2%;
    padding: 10px;
    box-sizing: border-box;
}

.travel-text h5 {
    color: #F85E9F;
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    text-align: left;
}

.travel-text h3 {
    margin-top: 1vh;
    font-size: 3.3vw;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
}

.travel-text p {
    margin-top: 1vh;
    font-size: 1.1vw;
    margin-bottom: 5vh;
    font-weight: 400;
    line-height: 1.8em;
    text-align: left;
    width: 70%;
    color: #19182580;
}

.frame46 {
    position: relative;
    width: 70%;
    height: 50%;
    gap: 102px;
    padding: 10px;
    box-sizing: border-box;
}


.frame41 {
    position: absolute;
    border: 1px solid #a4a7a6;
    width: 45%;
    height: 45%;
    padding: 32px;
    gap: 16px;
    border-radius: 32px;
}

.frame42 {
    position: absolute;
    border: 1px solid #a4a7a6;
    width: 45%;
    height: 45%;
    padding: 32px;
    gap: 16px;
    border-radius: 32px;
    right: 1%;
}

.frame43 {
    position: absolute;
    border: 1px solid #a4a7a6;
    width: 45%;
    height: 45%;
    padding: 32px;
    gap: 16px;
    border-radius: 32px;
    bottom: 1%;
}

.frame44 {
    position: absolute;
    border: 1px solid #a4a7a6;
    width: 45%;
    height: 45%;
    padding: 32px;
    gap: 16px;
    border-radius: 32px;
    bottom: 1%;
    right: 1%;
}

.num {
    text-align: center;
    padding: 10px;
    color: #FF5722;
    font-size: 3vw;
    font-weight: 700;
}

.num-txt {
    text-align: center;
    margin-top: 3vh;
    font-size: 1.2vw;
    font-weight: 600;
}

.frame50 {
    position: absolute;
    width: 20%;
    height: auto;
    right: 6%;
    bottom: 8%;
    padding: 2%;
    z-index: 1;
    gap: 1%;
    border-radius: 16px;
    box-sizing: border-box;
}

/* key */

.keyfeature {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 1440px;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.key,
.key_image {
    /* border: 1px solid red; */
    min-width: 300px;
    flex: 1 1 45%;
    box-sizing: border-box;
    padding: 1rem;
}

.key-text {
    /* border: 1px solid red; */
    padding: 4vw 10vh;
    width: 100%;
    gap: 32px;
    box-sizing: border-box;
}

.key-text h2 {
    color: #F85E9F;
    font-size: 3vh;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.2em;
    text-align: left;
    margin: 0;
}

.key-text h3 {
    margin-top: 2vh;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}

.key-text p {
    margin-top: 2vh;
    color: #19182580;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8;
    text-align: left;
}

.services {
    /* border: 1px solid red; */
    padding: 2vw 8vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10vh;
    min-width: 350px;
}

.offer-content {
    /* border: 1px solid red; */
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    line-height: 1;
    box-sizing: border-box;
    min-width: 150px;
}

.offer-content:hover {
    border: 1px solid #19182580;
    border-radius: 32px;
}

.offer-text {
    width: 329px;
    height: 65px;
    gap: 8px;
    opacity: 0px;
    text-align: left;
    margin-top: 15px;

}

.offer-text h4 {
    font-size: 3vh;
    font-weight: 700;
    line-height: 27.6px;
    text-align: left;

}

.offer-text p {
    font-size: 2.5vh;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
}


.offer-img img {
    width: 100%;
    max-width: 60px;
    height: auto;
}


.key_image {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.key_image img {
    max-width: 60%;
    height: auto;
    flex: 1 1 auto;
    box-sizing: border-box;
}


.discount2 {
    position: absolute;
    display: flex;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 20px;
    transform: scale(0.6);
    background-color: white;
    left: 35%;
    top: 20%;
    gap: 10px;
}


.services {
    flex: 0 1 auto;
    width: 540px;
    height: 492px;
    gap: 0px;
    opacity: 0px;
}


.rectangle9 {
    /* margin-top: 20%; */
    width: 60%;
    height: 49%;
    margin-right: 30%;
    border-radius: 500px;
}

.rectangle10 {
    position: absolute;
    width: 50%;
    height: 40%;
    right: 15%;
    bottom: 0;
    border-radius: 500px;
    border: 24px;

}

.bg {
    position: absolute;
    width: 447.51px;
    height: 272px;
    left: 280px;
    top: 2%;
    z-index: -1;
}


.testimonial {
    border: 1px solid red;
    margin: 0 auto;
    /* padding: 1rem; */
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    box-sizing: border-box;


}

.layer {
    position: relative;
    border: 1px solid rgb(0, 4, 255);
    width: 100%;
    max-width: 100%;

}

.layer img {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 80vh;
    transform: scale(1.1)rotate(-2deg);
}


.main {
    /* border: 1px solid red; */
    transform: scale(1.1);
    margin-top: 5%;
    padding: 2vw 2vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    gap: 1rem;
    box-sizing: border-box;
}

.t-left,
.t-right {
    /* border: 1px solid red; */
    flex: 0 1 auto;
    width: 10%;
    height: 40vh;
}

.t-left button {
    margin-left: 60%;
}

.t-left button,
.t-right button {
    transform: translateY(100px);
    padding: 1rem;
    border-radius: 50%;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.t-left button:hover,
.t-right button:hover {
    background-color: #5D50C6;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.testament {
    /* border: 1px solid red; */
    flex: 1 1 50%;
    max-width: 60%;
    padding: 2rem;
    text-align: center;
}

.thead h4 {
    color: #f35e76;
    letter-spacing: 0.9rem;
    font-size: 1.2rem;
    text-align: center;
}

.thead h3 {
    font-size: 2.6vh;
    line-height: 3vh;
}

h3 span {
    color: orangered;
}

.thead h4,
.thead h3 {
    margin: 0.5rem 0;
}

.tcontent img {
    max-width: 100px;
    height: auto;
    margin: 1rem auto;
    display: block;
    object-fit: cover;
}

.tfooter {
    margin-top: 1rem;
}

.tfooter p {
    color: #19182580;

}

.tfooter h3,
.tfooter p {
    margin: 0.5rem 0;
}

.tfooter img {
    max-width: 80%;
    height: auto;
    margin: 1rem auto;
}

.dots img {
    margin-top: 10%;
    max-width: 100%;
    height: auto;
}


/* newsletter */

.newsletter {
    /* border: 1px solid red; */
    position: relative;
    margin: 0 auto;
    padding: 2%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.nl-text {
    width: 90%;
    max-width: 982px;
    height: auto;
    gap: 2em;
}

.nl-text h3,
.nl-text h4 {
    text-align: center;
    margin: 0.5em 0;
}

.nl-text h3 {
    text-transform: uppercase;
    color: #ff4180;
    font-size: 3vh;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 0.2em;
    text-align: center;


}

.nl-text h4 {
    font-size: 6vh;
    font-weight: 700;
    line-height: 66px;
    text-align: center;
}

.nl-input {
    /* border: 1px solid red; */
    width: 60%;
    max-width: 982px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.nl-input input {
    flex: 1;
    max-width: 70%;
    height: 3rem;
    border-radius: 50px;
    background-color: #fff7f8;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
}

.nl-input button {
    flex-shrink: 0;
    width: auto;
    min-width: 150px;
    height: 3rem;
    background: #5D50C6;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 1rem;
}

.letter {
    background-color: #ffedf1;
    width: 90%;
    height: 70vh;
    max-width: 1110px;
    padding: 2em;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.Graphic_Elements {
    position: absolute;
    width: 12%;
    height: auto;
    left: 10%;
    top: -5%;
    z-index: 1;
}

.footer {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    height: 50vh;
    gap: 100px;
    padding: 16px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.aboutus {
    /* border: 1px solid red; */
    padding: 10px;
    width: 20%;
    min-width: 200px;
    height: 35vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact {
    /* border: 1px solid red; */
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2.5;
    padding: 2px;

}

.about-content {
    margin-top: 2vh;
    font-size: 1.1rem;
    font-weight: 450;
    line-height: 1.5;
    text-align: left;
    justify-content: center;
    color: #19182580;
}

.socials {
    /* border: 1px solid red; */
    width: 160px;
    height: 32px;
    gap: 32px;
    opacity: 0px;
    bottom: 1%;
    position: absolute;
    width: auto;
}

.company,
.ft-contact,
.ft-meetus {
    min-width: 100px;
    margin: 0 1%;
}

.footer h3 {
    font-size: 1.5rem;
}

.footer p {
    color: #19182580;
    font-size: 1.1rem;
    cursor: pointer;
}

.obj3 {
    position: absolute;
    width: 8%;
    height: auto;
    right: 4%;
    top: -70%;
    transform: translateX(60%);
}

.right{
    position: absolute;
    bottom: 0%;
    text-align: center;
    color: #19182580;
}